.exposer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.exposer-container {
  width: 100%;
  height: 100%;
}

.exposer-image {
  width: 65%;
  height: 650px;
  border-radius: 8px;
  transition: opacity 2s ease-in-out;
  box-shadow: 10px 10px 10px #cd468081;
}
